aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
asgiref
attrs
certifi
cffi
charset-normalizer
click
crontab
dataclasses-json
distro
cryptography
defusedxml
Django
django-cors-headers
django-extensions
django-rq
djangorestframework
djangorestframework-simplejwt
freezegun
frozenlist
greenlet
h11
httpcore
httpx
idna
jiter
jsonpatch
jsonpointer
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langchain-google-genai
langsmith
marshmallow
multidict
mypy-extensions
oauthlib
openai
orjson
packaging
pillow
pinecone==2.2.4
pinecone-plugin-interface
playwright
propcache
pydantic
pydantic_core
pycparser
pyee
PyJWT
python-dateutil
python-dotenv
python-social-auth
python3-openid
pytz
PyYAML
redis
regex
requests
requests-oauthlib
requests-toolbelt
rq
rq-scheduler
setuptools
six
sniffio
SQLAlchemy
social-auth-app-django
social-auth-core
sqlparse
tenacity
tiktoken
tqdm
typing-inspect
typing_extensions
tzdata
urllib3
wheel
whoosh
yarl
pandas