
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spoqa Han Sans Neo', sans-serif;
}


body {
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: linear-gradient(180deg, rgba(250, 250, 250, 0.4) 19%, rgba(194, 202, 225, 0.4) 95%);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

/*-----------------------------*/
.profile-container {
    background-color: aquamarine;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 100px;
}

/*-----------------------------*/
.arrow-block { 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: bisque ;
    width: 100px;
    height: 200px;
}
.arrow-icon {
    background-color: red;
    width: 50px;
    height: auto;
}

/*-----------------------------*/
.profile-block { 
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 200px;
    gap: 6px;
}
.profile-id-area {
    background-color: black;
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: auto;
    gap:10px;
}
.profile-id {
    font-size: 24px;
    color:#617DAE;
    ;
}
.profile-subtext {
    font-size: 24px;
    color: #617DAE;
}
/*-------------*/
.profile-btn-area {
    background-color: blue;
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: auto;
    gap:10px;
}
.profile-edit-btn, .logout-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 40px;
    border-radius: 30px;
    border-style: solid;
    border-color: #8097c0;
    border-width: 1px;
    padding: 10px;
}
.profile-edit-btn, .logout-btn p {
    color: #617DAE;
}
/*-------------*/
.pay-btn-area {
    background-color: blue;
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: auto;
    gap:10px;
}
.pay-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 40px;
    border-radius: 30px;
    border-style: solid;
    border-color: #8097c0;
    border-width: 1px;
    padding: 12px;
    gap: 4px;
}
.pay-btn p {
    color: #617DAE;
    font-size: 20px;
}











footer {
    font-size: 12px;
    font-weight: 600;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    color: #889DC4;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 0;
}