body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
}

.sidebar-page-container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 500px;
    background-color: #f4f4f4;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    transition: width 0.3s ease;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.sidebar.collapsed {
    width: 0;
    overflow: hidden;
}

.sidebar-toggle-btn {
    padding: 10px;
    background-color: #e0e0e0;
    border: none;
    cursor: pointer;
    text-align: center;
}

.sidebar-toggle-btn:hover {
    background-color: #d0d0d0;
}

.sidebar-content-container {
    height: 100px;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.sidebar-content-container img {
    display: block;
    height: 100%;
    width: auto;
    object-fit: cover;
    border-radius: 4px;
    cursor: pointer;
}

.sidebar-content-container a {
    display: block;
    height: 100%;
    flex-shrink: 0;
}

.sidebar-main-content {
    flex-grow: 1;
    padding: 20px;
    transition: margin-left 0.3s ease;
    margin-left: 500px; /* Same as sidebar width */
}

.sidebar-main-content.sidebar-collapsed {
    margin-left: 0;
}

.sidebar-loading-indicator {
    padding: 15px;
}

.sidebar-iframe-container {
    flex-grow: 1;
    overflow: hidden;
    margin: 0 20px 0 20px
}

#content-iframe {
    width: 100%;
    height: 100%;
    border: none;
    transform-origin: 0 0;
}
