<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChangpleAI</title>
    <link rel="stylesheet" href="../static/css/mypage.css">
    <link rel="icon" href="../static/img/favicon.svg" type="image/x-icon">
</head>

<body>
    {% comment %} <div class="main"> {% endcomment %}


    {% comment %} </div> {% endcomment %}



</body>

<footer>
    <div class="company-info">(주)창플 | 283-88-00641 | 한범구 | 서울 송파구 송파대로 167 (문정동)테라타워 B동, 707호 | 02-2054-3956 | tiger9@changple.com</div>
    <div class="copyright">@Copyright @ ChangpleTeamBusiness Inc. All Rights Reserved.</div>
    <div class="privacy-policy">개인정보처리방침</div>
</footer>