<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/payplan.css">
</head>
<body>
    <header>
        <button class="back-arrow">
            <a href="javascript:history.back();" style="text-decoration: none;"> 
                <svg width="42" height="37" viewBox="0 0 42 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20.543 36.0035C20.0605 36.4859 19.4062 36.7568 18.7239 36.7568C18.0416 36.7568 17.3873 36.4859 16.9048 36.0035L1.46672 20.5654C0.984356 20.0829 0.713379 19.4286 0.713379 18.7463C0.713379 18.064 0.984356 17.4097 1.46672 16.9272L16.9048 1.48911C17.3901 1.02042 18.04 0.76107 18.7147 0.766933C19.3893 0.772795 20.0346 1.0434 20.5117 1.52045C20.9887 1.99751 21.2593 2.64286 21.2652 3.31749C21.2711 3.99213 21.0117 4.64207 20.543 5.12735L9.49709 16.1733L39.308 16.1733C39.9904 16.1733 40.6449 16.4444 41.1274 16.9269C41.6099 17.4094 41.881 18.0639 41.881 18.7463C41.881 19.4287 41.6099 20.0832 41.1274 20.5657C40.6449 21.0482 39.9904 21.3193 39.308 21.3193L9.49709 21.3193L20.543 32.3653C21.0254 32.8478 21.2964 33.5021 21.2964 34.1844C21.2964 34.8666 21.0254 35.521 20.543 36.0035Z" fill="#617DAE"/>
                </svg>
            </a>
        </button>
        <div class="page-title-area">
            <span>성공적인 창업을 위한 요금제</span>
        </div>
    </header>

    <main>
        <section class="pricing-plans">

            <!--Free-->
            <article class="pricing-card">
                <h2 class="pricing-title">
                    Free
                </h2>

                <div class="pricing-price-container">
                    <span class="currency-symbol">
                        ₩
                    </span>
                    <span class="pricing-price">
                        0
                    </span>
                    <span class="pricing-unit">
                        KRW/월
                    </span>
                </div>

                <p class="pricing-description">
                    창플 AI로, 창플만의 창업 인사이트를 얻어보세요
                </p>

                <button class="pricing-button-free">
                    무료 이벤트 기간
                </button>

                <section class="pricing-features">
                    <ul class="features-list">
                        <li class="feature-item">
                            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="13" viewBox="0 0 17 13" fill="none">
                                <path d="M1.05469 7.04004L5.05469 11.04L15.0547 1.04004" stroke="#617DAE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            1일 10회 질문 가능
                        </li>
                    </ul>
                </section>
            </article>

            <!--Pro-->
            <article class="pricing-card">
                <h2 class="pricing-title">
                    Pro
                </h2>

                <div class="pricing-price-container">
                    <span class="currency-symbol">
                        ₩
                    </span>
                    <span class="pricing-price">
                        19,000
                    </span>
                    <span class="pricing-unit">
                        KRW/월
                    </span>
                </div>

                <p class="pricing-description">
                    창플 AI의 고급 정보를 이용해 보세요
                </p>

                <button class="pricing-button-pro">
                    무료 이벤트 기간
                </button>

                <section class="pricing-features">
                    <ul class="features-list">
                        <li class="feature-item">
                            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="13" viewBox="0 0 17 13" fill="none">
                                <path d="M1.05469 7.04004L5.05469 11.04L15.0547 1.04004" stroke="#617DAE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            무제한 질문 가능
                        </li>
                        <li class="feature-item">
                            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="13" viewBox="0 0 17 13" fill="none">
                                <path d="M1.05469 7.04004L5.05469 11.04L15.0547 1.04004" stroke="#617DAE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            고급정보 및 비용정보 오픈
                        </li>
                        <li class="feature-item">
                            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="13" viewBox="0 0 17 13" fill="none">
                                <path d="M1.05469 7.04004L5.05469 11.04L15.0547 1.04004" stroke="#617DAE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            창플 멤버십회원 등록
                        </li>
                    </ul>
                </section>
            </article>

            <!--consult-->
            <article class="pricing-card">
                <h2 class="pricing-title">
                    1:1 Consulting
                </h2>

                <div class="pricing-price-container">
                    <span class="currency-symbol">
                        ₩
                    </span>
                    <span class="pricing-price">
                        150,000
                    </span>
                    <span class="pricing-unit">
                        1회
                    </span>
                </div>

                <p class="pricing-description">
                    최고 수준의 전문가와 상담하기
                </p>

                <button class="pricing-button-consult">
                    상담 신청하기
                </button>

                <section class="pricing-features">
                    <ul class="features-list">
                        <li class="feature-item">
                            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="13" viewBox="0 0 17 13" fill="none">
                                <path d="M1.05469 7.04004L5.05469 11.04L15.0547 1.04004" stroke="#617DAE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            창플지기와의 1:1 대면 상담(1회)
                        </li>
                    </ul>
                </section>
            </article>
            

            
        </section>
    </main>

    <footer>

    </footer>
</body>
</html>